html {
  background-color: hsl(var(--color-dark-blue));
}

body {

  &:before {

    position: fixed;
    display: block;
    opacity: 0.15;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: '';

    background-image: url('images/background.jpg');
    background-size: cover;

    z-index: -1;
  }
}